<!DOCTYPE html>
<html ng-app="toDo">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/styles.css">

	<title>Todo Angular</title>
</head>
<body>

<div ng-controller="ToDoController as todoCtrl">

	<h2>Total Tasks: {{totalTodos}}</h2>
		<ul >
			<li ng-repeat="task in todoTasks | orderBy:'priority'" >
				{{task.priority}} --
				{{task.text}}
			</li>
		</ul>

	<form novalidate class="simple-form" ng-submit="addTask()">
		Task:
		<input type="text" ng-model="formTask">
		<br/>

		Priority:
		<select name="priority" ng-model="formPriority">
			<option value="1">high</option>
			<option value="2">medium</option>
			<option value="3">low</option>
		</select>
		<br/>

		<input type="submit"/>
	</form>
</div>

	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-animate.js"></script>
	<script type="text/javascript" src="app/app.js"></script>

</body>
</html>