ul {
	list-style: none;
	padding: 0;
}

li {
	margin-bottom: 25px;
}

body{
	 display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.main {
	margin: auto;
	width: 25%;

}

 * {
		margin: auto;
}