body{
	display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	margin-bottom: 25px;
}

.main {
	margin: auto;
	width: 25%;

}

.priority-1 {
	color: tomato;
}

.priority-2 {
	color: blue;
}

.priority-3 {
	color: green;
}